*{
    margin: 0;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-size:50px ;
    color:white;
    text-decoration: none;
}
.nav-par{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
}
.middle-header{
    text-align: center;
    margin-top: 200px;
    font-size: 44px;
    color: white;
}
.first-header-back-color{
    background-color: rgba(255, 255, 255, 0.7);
    width: 250px;
    height: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px;
}
.flight-hotel{
    display: flex;
    justify-content: space-between;
}
.flight{
    display: flex;
    gap: 5px;
    width: 110px;
    height: 50px;
    background-color: rgba(23, 123, 165, 1);
    border-radius: 24px;
    font-size: 24px;
    color: white;
    align-items: center;
    justify-content: center;
}
.flight img{
    width: 24px;
    height: 24px;
}
.hotel{
    display: flex;
    gap: 5px;
    width: 110px;
    height: 50px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}
.hotel img{
    width: 24px;
    height: 24px;
}
.second-header-back-color{
    width: 800px;
    height: 200px;
    border-radius: 50px;
    border-top-left-radius: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.35);
}
.two-divs{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 30px;
}
.sec-back-color-left{
    width: 280px;
    border-radius: 40px;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.7);
}
.sec-backk{
    width: 320px;
}
.divv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gray-p{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.ll p{
    font-size: 18px;
}
.for-pos{
    position: absolute;
    left: 350px;
    top: 550px;
}