*{
    margin: 0;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-size:48px ;
    color:white;
    text-decoration: none;
}
.nav-par{
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: white;
}