*{
    margin: 0;
}
body{
    background-color: rgba(246, 246, 246, 0.98);
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(./img.png/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a{
    font-size:50px ;
    color:white;
    text-decoration: none;
}
.nav-par{
    display: flex;
    gap: 20px;
    font-size: 20px;
    color: white;
}
.middle-header{
    text-align: center;
    margin-top: 200px;
    font-size: 44px;
    color: white;
}
.first-header-back-color{
    background-color: rgba(255, 255, 255, 0.7);
    width: 250px;
    height: 30px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 20px;
}
.flight-hotel{
    display: flex;
    justify-content: space-between;
}
.flight{
    display: flex;
    gap: 5px;
    width: 110px;
    height: 50px;
    background-color: rgba(23, 123, 165, 1);
    border-radius: 24px;
    font-size: 24px;
    color: white;
    align-items: center;
    justify-content: center;
}
.flight img{
    width: 24px;
    height: 24px;
}
.hotel{
    display: flex;
    gap: 5px;
    width: 110px;
    height: 50px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}
.hotel img{
    width: 24px;
    height: 24px;
}
.second-header-back-color{
    width: 800px;
    height: 200px;
    border-radius: 50px;
    border-top-left-radius: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.35);
}
.two-divs{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 30px;
}
.sec-back-color-left{
    width: 280px;
    border-radius: 40px;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.7);
}
.sec-backk{
    width: 320px;
}
.divv{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.gray-p{
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.ll p{
    font-size: 18px;
}
.for-pos{
    position: absolute;
    left: 350px;
    top: 550px;
}
.box3-left p{
    font-size: 22px;
}
.box-left p{
    font-size: 22px;
}
section h2{
    margin-top: 150px;
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}
.one-img{
    width: 350px;
    height: 430px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.35);
    margin-top: 30px;
}
.one-img h4{
    text-align: center;
    font-size: 24px;
    padding: 20px;
}
.one-img img{
    width: 80%;
    margin-left: 35px;
}
.three-img{
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.images-par{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}
.par1-img{
    color: rgba(45, 137, 133, 1);
    padding: 3px 15px;
    border-radius: 40px;
   background-color:rgba(214, 237, 235, 1) ; 
}
.last-one-img{
    display: flex;
    margin-top: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.last-one-img p span{
    color: gray;
    font-size: 20px;
}
.last-one-img button{
    border: none;
    background-color: rgba(23, 123, 165, 1);
    padding: 10px 15px;
    color: white;
    border-radius: 20px;
}
.last-one-img{
    font-size: 24px;
}
.mm{
    color: rgba(241, 120, 182, 1);
    background-color: rgba(252, 221, 236, 1);
}
.back-color2{
    margin-top: 100px;
    background-color: rgba(244, 242, 238, 1);
    width: 100%;
    height: 650px;
}
.book-par{
    display: flex;
    justify-content: center;
}
.right-book-par{
    width: 50%;
}
.right-book-par h2{
    color: rgba(23, 123, 165, 1);
}
.right-book-par p{
    width: 70%;
    font-size: 24px;
    margin-left: 100px;
    color: rgba(41, 45, 50, 1);
}
.right-book-par button{
    margin-top: 30px;
    margin-left: 100px;
    border: none;
    padding: 16px;
    background-color: rgba(23, 123, 165, 1);
    border-radius: 30px;
    color: white;
}
.all{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.first-all{
    width: 400px;
}
.first-all h2{
    font-size: 55px;
}
.first-all p{
    font-size: 24px;
    width: 90%;
}
.first2-all{
    margin-left: 300px;
}
.first2-all img{
    width: 30px;
}
.all-first-img{
    width: 200px;
    height: 350px;
    border-radius: 50px;
    background-image: url(./img.png/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.all-first-img p{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding-top: 300px;
}
.img2{
    background-image: url(./img.png/img2.png);
}
.img3{
    background-image: url(./img.png/img3.png);
}
.abd{
    display: flex;
    gap: 30px;
}
.hh2{
    text-align: center;
    margin-bottom:50px;
}
.sector1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-part1{
    width: 40%;
}
.left-part1 img{
    width: 80%;
}
.right-part1{
    width: 40%;
}
.right-part1 h4{
    font-size: 32px;
    margin-bottom: 20px;
}
.pap{
    width: 75%;
    font-size: 24px;
    margin-bottom: 20px;
}
.img-and-par{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-and-par img{
    width: 30px;
}
.img-and-par p{
    font-size: 18px;
}
.overflow-part{
    overflow: scroll;
    display: flex;
    justify-content: start;
    gap: 30px;
}
.part1-over{
    min-width: 600px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50px;
}
.part1-over{
    text-align: center;
}
.pl{
    font-size: 20px;
    font-weight: bold;
}
.lp{
    margin-top: 30px;
    font-size: 22px;
}
.part1-over img{
    margin-bottom: 20px;
}
.nn{
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.last-back{
    margin-top: 100px;
    width: 100%;
    height: 50vh;
    background-image: url(./img.png/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.last-back h3{
    text-align: center;
    padding-top : 100px;
    font-size: 32px;
}
.last-back button{
    margin-left: 670px;
    border: none;
    padding: 15px;
    background-color: rgba(23, 123, 165, 1);
    color: white;
    width: 200px;
    border-radius: 30px;
    margin-top: 30px;
}